.color-box {
    width: 50px;
    height: 50px;
    margin: 10px;
    display: inline-block;
}

#box1 {
    background-color: #ff0000; 
}

#box2 {
    background-color: #00ff00; 
}

#box3 {
    background-color: #0000ff; 
}

#box4 {
    background-color: #ffff00; 
}

#box5 {
    background-color: #ff00ff; 
}

#box6 {
    background-color: #00ffff; 
}

#box7 {
    background-color: #000000; 
}

#box8 {
    background-color: #8b0000; 
}

#box9 {
    background-color: #4b0082; 
}